/* Add CSS Styling */
.ylw-button, .blk-button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.ylw-button{
    background-color: yellow;
}

.blk-button{
    background-color: black;
    color: white;
}